.nav-box
    .nav-box_content
        a(href="#").hamburger.nav-box_hamburger
            span.hamburger_block
        .nav-box_container
            ul.nav-box_list
                li.nav-box_item
                    a(href="work.html").nav-box_link.nav-active Мои работы
                li.nav-box_item
                    a(href="blog.html").nav-box_link Блог
                li.nav-box_item
                    a(href="about.html").nav-box_link Обо мне
                li.nav-box_item
                    a(href="index.html").nav-box_link Авторизация

