aside.swipe-sidebar
    .blog_nav
        ul.blog_nav-list
            li.blog_nav-item
                a(href="#").blog_nav-link.active-link Самое важное в SASS
            li.blog_nav-item
                a(href="#").blog_nav-link Приёмы в вёрстке, без которых не обходится ни один сайт
            li.blog_nav-item
                a(href="#").blog_nav-link Самый необходимый набор Gulp плагинов
            li.blog_nav-item
                a(href="#").blog_nav-link Почему я выбрал Jade
a(href="#").swipe-sidebar_link


