.about-me_info {
  margin: auto;
  text-align: center;
}

.about-me {
  display: flex;
  height: 82%;
}

/*.icon-box {
  margin: 50px auto;
  position: absolute;
  bottom: 0;
}

.icon-box_right {
  right: 0;
}

.icon-box_left {
  left: 0;
}

.icon-about_bg_right{
    fill: #f8f9f5;
}

.icon-about_bg_left{
  fill: #ebefe2;
}*/

.container {
  display: flex;
  justify-content: space-between;

  &_left {
    background: #ebefe2;
    width: 50%;
    box-sizing: border-box;
    padding: 22px 80px;
    position: relative;
  }

  &_right {
    background: #f4f5f0;
    width: 50%;
    box-sizing: border-box;
    padding: 22px 15px 22px 40px;
  }
}

.container_description {
  font-size: 63px;
  color: #373e42;
  z-index: 1;
  margin-bottom: 60px;

  &:after {
    background: #373e42;
  }
}

.container_header {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: 355px;
  height: 255px;
}

.icon-about_header {
  fill: #e2ebd0;
  width: 100%;
  height: 100%;
}

.container_photo {
  width: 445px;
  height: 395px;
  margin: auto auto 40px auto;
}

.container_img {
  width: 100%;
  height: 100%;
}

.container_public {
  color: #566358;
  margin: auto auto 40px auto;
  width: 255px;

  &:after {
    background: #566358;
  }
}

.container_text {
  width: 445px;
  color: #566358;
  margin: auto auto 22px auto;
  line-height: 1.5;
}

.container_right-text {
  width: 100%;
  margin-bottom: 60px;
}

.skills {
  margin-bottom: 40px;
}

.skills_description {
  font-size: 28px;
  color: #566358;
  font-weight: 500;
}