.blog-description  {
  font-size: 63px;
  position: relative;
  z-index: 1;
}

.blog-about {
  height: 100%;
}

.icon-blog_header {
  fill: rgba(78, 116, 92, 0.4);
  width: 315px;
  height: 190px;
  position: absolute;
  top: -44px;
  left: -56px;
  z-index: -1;
}

.blog {
  position: relative;

  .footer,.maps_footer {
    bottom: 0;
  }
}

.blog_container {
  padding: 70px 40px;
  background: #faf8f0;
  display: flex;
  justify-content: space-between;
}

.blog_nav {
  width: 20%;
}

.blog_content {
  width: 65%;
}

.blog_content-box {
  padding-bottom: 70px;
  margin-bottom: 70px;
  border-bottom: 6px solid #ecebe4;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    padding-bottom: 0;
  }
}

.blog_nav-item {
  list-style-type: none;
  margin-bottom: 35px;
}

.blog_nav-link {
  text-decoration: none;
  display: block;
  color: #566358;
  text-align: right;

  &:hover {
    text-decoration: underline;
  }
}

.active-link {
  font-weight: bold;
  color: #4e8839;
  padding: 15px;
  border-right: 2px solid  #4e8839;
}

.blog_content-description {
  font-size: 35px;
  margin-bottom: 30px;
  text-transform: none;
  &:after {
    display: none;
  }
}

.blog_content-data {
  color: #8eae80;
  display: block;
  margin-bottom:30px;
}

.blog_content-text {
  color: #566358;
  margin: 0 0 20px 0;
  line-height: 1.5;
}
