.footer_copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  min-height: 90px;
  display: flex;
}

.footer_copyright-value {
  margin: auto;
  font-size: 16px;
  color: #ffffff;
}