.footer_copyright {
  text-align: center;
  padding: 30px 10px;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

.footer_copyright-value {
  margin: auto;
  font-size: 16px;
  color: #ffffff;
}