.footer {
  background: rgba(0%, 0%, 0%, 0.6);
  position: relative;
  bottom: 214px;
  padding: 30px;
  display: flex;
  justify-content: space-between;

  .icon {
    &:hover {
      fill: #ffffff;
    }
  }
}

.footer_text {
  font-weight: 300;
  color: #f6f6f6;
  margin: 0;
  padding: 0 65px 45px 0;
  border-right: 1px solid #69716e;
  width: 35%;
}

.footer_menu {
  padding: 0 30px 30px 30px;
  border-right: 1px solid #69716e;
  width: 35%;
}

.footer_list {
  margin-bottom: 30px;
}

.footer_item {
  list-style-type: none;
  margin-left: 20px;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }
}

.footer_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;

  &:hover {
    text-decoration: underline;
  }
}

.footer_quote {
  padding: 0 30px;
  width: 25%;
}

.footer_quote-value {
  color: #b2b5b4;
  font-style: italic;
  font-weight: 300;
  margin: 0 0 15px 0;
}

.footer_quote-author {
  color: #b2b5b4;
  font-weight: bold;
  font-style: italic;
}