.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;

  .icon {
    fill: #ffffff;
  }
}

.hamburger {
  width: 40px;
  height: 5px;
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  cursor: pointer;

  &:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 5px;
    background: #ffffff;
    top: 10px;
    left: 0;
    border-radius: 5px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 5px;
    background: #ffffff;
    left: 0;
    bottom: -20px;
    border-radius: 5px;
  }
}

