extends ../_template
include ../mixins/icons

block variables
    - var title = 'About Me'

block content
    .wrapper.wrapper-main
        include ../common/_header
        .about-me.blog-about
            .about-me_info
                .my-photo
                    img(src="/assets/img/photo.jpg" alt="my photo").my-photo_img
                h3.portfolio-content.blog-description Блог
                    +icon('blog_header')
                span.main-text Статьи, которые я написала
    .blog
        +icon('bg')
        .blog_container
            .blog_nav
                ul.blog_nav-list
                    li.blog_nav-item
                        a(href="#").blog_nav-link.active-link Самое важное в SASS
                    li.blog_nav-item
                        a(href="#").blog_nav-link Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.blog_nav-item
                        a(href="#").blog_nav-link Самый необходимый набор Gulp плагинов
                    li.blog_nav-item
                        a(href="#").blog_nav-link Почему я выбрал Jade
            .blog_content
                .blog_content-box
                    h3.portfolio-content.slider_description.blog_content-description Самое важное в SASS
                    span.blog_content-data 13 ноября 2015
                    p.blog_content-text.
                        Таким образом начало повседневной работы по
                        формированию позиции позволяет выполнять важные
                        задания по разработке направлений прогрессивного
                        развития. Разнообразный и богатый опыт новая модель
                        организационной деятельности играет важную роль в
                        формировании новых предложений. Товарищи! новая модель
                        организационной деятельности играет важную роль в
                        формировании систем массового участия.
                    p.blog_content-text.
                         Не следует, однако забывать, что укрепление и развитие
                         структуры обеспечивает широкому кругу (специалистов) участие
                         в формировании систем массового участия. Идейные соображения
                         высшего порядка, а также рамки и место обучения кадров
                         обеспечивает широкому кругу (специалистов) участие в
                         формировании позиций, занимаемых участниками в отношении
                         поставленных задач. Товарищи! постоянный количественный рост
                         и сфера нашей активности способствует подготовки и реализации
                         модели развития. С другой стороны рамки и место обучения кадров
                         влечет за собой процесс внедрения и модернизации системы обучения
                         кадров, соответствует насущным потребностям.
                .blog_content-box
                    h3.portfolio-content.slider_description.blog_content-description Приёмы в вёрстке, без которых не обходится ни один сайт
                    span.blog_content-data 23 ноября 2015
                    p.blog_content-text.
                        Таким образом начало повседневной работы по
                        формированию позиции позволяет выполнять важные
                        задания по разработке направлений прогрессивного
                        развития. Разнообразный и богатый опыт новая модель
                        организационной деятельности играет важную роль в
                        формировании новых предложений. Товарищи! новая модель
                        организационной деятельности играет важную роль в
                        формировании систем массового участия.
                    p.blog_content-text.
                        Не следует, однако забывать, что укрепление и развитие
                        структуры обеспечивает широкому кругу (специалистов) участие
                        в формировании систем массового участия. Идейные соображения
                        высшего порядка, а также рамки и место обучения кадров
                        обеспечивает широкому кругу (специалистов) участие в
                        формировании позиций, занимаемых участниками в отношении
                        поставленных задач. Товарищи! постоянный количественный рост
                        и сфера нашей активности способствует подготовки и реализации
                        модели развития. С другой стороны рамки и место обучения кадров
                        влечет за собой процесс внедрения и модернизации системы обучения
                        кадров, соответствует насущным потребностям.
                .blog_content-box
                    h3.portfolio-content.slider_description.blog_content-description Самый необходимый набор Gulp плагинов
                    span.blog_content-data 13 апреля 2014
                    p.blog_content-text.
                        Таким образом начало повседневной работы по
                        формированию позиции позволяет выполнять важные
                        задания по разработке направлений прогрессивного
                        развития. Разнообразный и богатый опыт новая модель
                        организационной деятельности играет важную роль в
                        формировании новых предложений. Товарищи! новая модель
                        организационной деятельности играет важную роль в
                        формировании систем массового участия.
                    p.blog_content-text.
                        Не следует, однако забывать, что укрепление и развитие
                        структуры обеспечивает широкому кругу (специалистов) участие
                        в формировании систем массового участия. Идейные соображения
                        высшего порядка, а также рамки и место обучения кадров
                        обеспечивает широкому кругу (специалистов) участие в
                        формировании позиций, занимаемых участниками в отношении
                        поставленных задач. Товарищи! постоянный количественный рост
                        и сфера нашей активности способствует подготовки и реализации
                        модели развития. С другой стороны рамки и место обучения кадров
                        влечет за собой процесс внедрения и модернизации системы обучения
                        кадров, соответствует насущным потребностям.
                .blog_content-box
                    h3.portfolio-content.slider_description.blog_content-description Почему я выбрал Jade
                    span.blog_content-data 10 ноября 2014
                    p.blog_content-text.
                        Таким образом начало повседневной работы по
                        формированию позиции позволяет выполнять важные
                        задания по разработке направлений прогрессивного
                        развития. Разнообразный и богатый опыт новая модель
                        организационной деятельности играет важную роль в
                        формировании новых предложений. Товарищи! новая модель
                        организационной деятельности играет важную роль в
                        формировании систем массового участия.
                    p.blog_content-text.
                        Не следует, однако забывать, что укрепление и развитие
                        структуры обеспечивает широкому кругу (специалистов) участие
                        в формировании систем массового участия. Идейные соображения
                        высшего порядка, а также рамки и место обучения кадров
                        обеспечивает широкому кругу (специалистов) участие в
                        формировании позиций, занимаемых участниками в отношении
                        поставленных задач. Товарищи! постоянный количественный рост
                        и сфера нашей активности способствует подготовки и реализации
                        модели развития. С другой стороны рамки и место обучения кадров
                        влечет за собой процесс внедрения и модернизации системы обучения
                        кадров, соответствует насущным потребностям.
        include ../common/_footer
        .footer_copyright.maps_footer
            p.footer_copyright-value &copy; Владимир Астахов | Создано с любовью в LoftSchool | 2016
    include ../common/_nav

