extends ../_template
include ../mixins/icons

block variables
  - var title = 'Welcome'

block content
  .wrapper(ontouchstart="this.classList.toggle('hover');")
      .main-authorization
          a(href="#").main-authorization_button Авторизоваться
      .about-me
           include ../common/_welcome-page
           include ../common/_authorization
      include ../common/_footer-copyright
