extends ../_template
include ../mixins/icons

block variables
  - var title = 'Welcome'

block content
  .wrapper
      .main-authorization
          a(href="#").main-authorization_button Авторизоваться
      include ../common/_welcome-page
      include ../common/_authorization
      include ../common/_footer-copyright
